body {
  background-image: linear-gradient(hsl(210, 92%, 15%), hsl(210, 92%, 85%));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 4.5rem;
  font-family: "Nova Round", cursive;
  color: hsl(240, 24%, 93%);
  text-decoration: underline;
}

.player-container {
  display: flex;

  margin-top: 3rem;
  justify-content: center;
  font-size: 2rem;
  font-family: "Nova Round", cursive;
  color: hsl(240, 24%, 93%);
  text-decoration: underline;
}
.human {
  width: 50%;
  margin-left: 25%;
}
.computer {
  width: 50%;
  text-align: right;
  margin-right: 25%;
}

.question {
  display: flex;
}
.human-question,
.computer-question {
  width: 50%;
  background-image: url(humanflames.png);

  background-color: blue;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 5rem;
}
.computer-question {
  background-color: hsl(348, 76%, 32%);
  background-image: url(computerflames.png);
}
.computer-question img {
  display: flex;
}
.human-question img {
  margin-left: 58.25%;
}

.handimage,
.restart-wrapper {
  display: flex;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-radius: 180px;
  border-width: 4px;
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;

  background-image: linear-gradient(
    hsl(240, 92%, 49%),
    hsl(240, 82%, 30%),
    hsl(240, 82%, 15%)
  );
  /* transition: 0.25s; */
}

.handimage:hover,
.restart-wrapper:hover {
  border-color: whitesmoke;
  background-image: linear-gradient(
    hsl(240, 82%, 35%),
    hsl(240, 82%, 50%),
    hsl(240, 82%, 69%)
  );
}

.selection-container {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

.restart-wrapper {
  width: 90px;
  height: 90px;
}

.restart-container {
  display: flex;
  margin-top: -9rem;
  float: right;
  margin-right: 3rem;
}
